{# subject: New submission from your {{ form.name }} form #}
{# fromEmail: {{ craft.app.systemSettings.getSettings('email').fromEmail }} #}
{# fromName: {{ craft.app.systemSettings.getSettings('email').fromName }} #}
{# replyToEmail: {{ craft.app.systemSettings.getSettings('email').fromEmail }} #}
{# includeAttachments: true #}
{# description: Contact us email notification template. #}
{% extends "_/layouts/_email-layout.html" %}
{% block content %}
<p style="text-transform: uppercase; font-family: 'Josefin Sans', sans-serif;">A user has submitted the contact form</p>
<p>Submission came in on {{ dateCreated|date('l, F j, Y \\a\\t g:ia') }}.</p>
<p> Here are the details:</p>
{% set total = form.fields|length %}
<table style="background-color: #ffffff; border-bottom: 1px solid #252525;">
    {% for field in allFields %}
        <tr>
            <td style="padding: 0.5rem;border-bottom: 1px solid #252525;">
                <span class="fsm-16" style="line-height: 18px;">
                    {{ field.label }}:
                </span>
            </td>
            <td style="padding: 0.5rem;"> </td>
            <td style="padding: 0.5rem;border-bottom: 1px solid #252525;">
                <span class="fsm-16" style="line-height: 18px;">
                    {% if field.handle == "userEmail" %}
                        <a class="fsm-16" href="mailto:{{ field.valueAsString }}" style="color: #2E81BB; text-decoration:none; font-style:normal;">{{ field.valueAsString }}</a>
                    {% else %}
                        {{ field.valueAsString }}
                    {% endif %}
                </span>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}